<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>WildFyre</h1>
    <p>
      You just subscribed to an event!<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to 'Sign in', '/sign_in' %>.
    </p>
  </body>
</html>
