<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>WildFyre</h1>
    <p>
      You just subscribed to <%= @favorite.event.title %>!<br>
    </p>

    <p>
      <%= @favorite.event.description %>
    </p>

    <p>
      Tweet <%= @favorite.event.hashtag %> to get this fire going! The more tweets we see, the more info we'll reveal on our event map!
    </p>

    <p>
      <%= link_to 'Sign in to WildFyre', 'http://wild-fyre.herokuapp.com' %>
    </p>
  </body>
</html>
