
<% if user_signed_in? %>
  Favorite Events:
  <ul>
    <% @favorites.each do |favorite| %>

      <li>
        <!-- FAVORITE EVENT TITLE: -->
        <%= link_to favorite.event["title"],"/events/#{favorite.event.id}" %>
       <!--  BUTTON TO REMOVE FAVORITE: -->
        <%= form_for [@user, favorite], method: :delete do |f| %>
            <%= f.submit 'Unsubscribe', id: 'destroy' %>
        <% end %>

      </li>
    <% end %>
  </ul>
<% end %>
