Favorite Events:
<ul>
  <% @favorites.each do |favorite| %>
    <p><%= favorite.event["title"] %></p>
    <%= button_to "delete", {controller: :favorites, action: 'destroy', id: favorite.id }, method: :delete %>
  <% end %>
</ul>
