<div id="outside">
  <div id="content_wrapper">
    <% if user_signed_in? %>
      <h1>Subscriptions:</h1>
        <ul class="list-group">
          <% @favorites.each do |favorite| %>
            <li class="list-group-item"><h2>
              <!-- FAVORITE EVENT TITLE: -->
              <%= link_to favorite.event["title"],"/events/#{favorite.event.id}" %>
             <!--  BUTTON TO REMOVE FAVORITE: -->
              <%= form_for [@user, favorite], method: :delete do |f| %>
                  <%= f.submit 'Unsubscribe', id: 'destroy' %>
              <% end %>
            </h2></li>
          <% end %>
        </ul>
    <% end %>
  </div>
</div>
