<ul>
  <li id="event_title"><%= @event.title %></li>
  <li id="event_hashtag"><%= @event.hashtag %></li>
  <li id="event_description"><%= @event.description %></li>
</ul>
<body>
  <div id="map-canvas"/>
</body>
