<div id="outside">
  <div id="content_wrapper">
    <h1><p id="fancy_font">ABOUT US</p></h1>
    <h2><p id="fancy_font">Summary...</p></h2>
    <p>Our goal is to take your event from its initial spark and turn it into a WildFyre of excitement with buzz generated through Twitter. We accomplish this goal by keeping the location of your event steeped in mystery, slowly zooming in on our map towards the location of your event when certain Twitter hashtag milestones are passed. When your events hashtag reaches your goal, the location of your event is revealed.</p>

    <h2><p id="fancy_font">Here is how it works...</p></h2>
    <ul>
      <li>You provide us with details of your event on our <a href='/contact'> Contact Page </a>.</li>
      <li>We will show your event to a large local audience and create a custom Twitter driven event page for you.</li>
      <li>The location of your event will be shown in a series of maps, with increasing zoom and a shrinking radius as those interested in your event drive up Twitter buzz.</li>
      <li>Once your Twitter goal has been met, we will reveal the location, and any other details about your event, allowing the Twitter buzz to translate to a huge and enthusiastic audience for you event. </li>

    </ul>
  </div>
</div>


<div id="map_canvas"></div>

<%= javascript_include_tag "about" %>

