<div id="outside">
  <div id="content_wrapper">
    <h1><p id="fancy_font">ABOUT US</p></h1>
    <h2><p id="fancy_font">Summary...</p></h2>
    <p>WildFire is a recreational web application designed to generate buzz for any special event by     incrementally revealing its location on a map based on the amount of times a specified hashtag was   tweeted.  </p>

    <h2><p id="fancy_font">Here is how it works...</p></h2>
    <p>Simply submit your companies' event info, date, time, etc, and WildFyre will creata a custom twitter-  driven home-page for you!</p>
  </div>
</div>
