
<div id="content_wrapper">
  <h1><p id="event_title">ABOUT US</p></h1>
  <h2>Summary</h2>
  <p>WildFire is a recreational web application designed to generate buzz for any special event by   incrementally revealing its location on a map based on the amount of times a specified hashtag was tweeted.  </p>

  <h2>Here is how it works!</h2>
</div>
