/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */
html, body,


#map-canvas {
  display: block;
  height: 550px;
  margin: 0px;
  padding: 0px;
}

#map_canvas {
  border: 5px solid #fff;
  height: 100%;
  margin: 0 auto;
  padding: 0px;
  width: 55%;
}


#content_wrapper {
  border: 0;
  border-radius: 10px;
  margin: 20px;
  padding-top: 10px;
}


.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.twitter-button {
  background: url('https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png') no-repeat;
  width: 158px;
  height: 28px;
}

#event_hashtag {
  font-size:30px;
  font-weight:bold;
  text-align: center;
}

#event_title{
  font-family: 'Frijole', cursive;
  text-align: center;
}

#event_description {
  font-family: 'Rock Salt', cursive;
}

#event_address {
  font-size: 40px;
}

#fancy_font{
  font-family: 'Roboto', sans-serif;
}


#outside {
border-top: 15px solid white;
border-left: 25px solid white;
border-right: 25px solid white;
}

#form {
  border: 2px dotted black;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
}

#prompt {
  text-align: left;
}

#field {
  border: 2px solid black;
  text-align: center;
  width: 80%;
}

#destroy{
  margin: 2%;
}

#fav {
  color: #000;
  font-family: 'Rock Salt', cursive;
  font-size: 20px;
  float: left;
  padding: 2%;
  }

.favList{
  list-style-type: none;
}

.favListContainer{
  width: 40%;
}

.sub{
  padding-left: 6%;
}

#landing_title{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    text-align: center;
    text-transform:uppercase;
    text-shadow: 2px 2px gray;
  }

   #landing_text{
    color: white;
    font-family: 'Roboto', thin;
    font-weight: 400;
    font-size: 25px;
    text-transform:uppercase;
    text-align: center;
  }

.twitter-timeline {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sign-up {
  margin: 0 auto;
  width: 440px;
}


@media all and (max-width: 500px) {


#map-canvas {
  float: left;
  margin:20px;
  width: 100%;
}
  .non-map {
    float:left;
  }

  /*Resize background video on landing page for mobile*/
  #bgndVideo {
    max-width: 100%;
  }
  #landing_banner_text {
    max-width: 100%;
  }

  #landing_title{
    color: white;
    font-size: 30px;
    text-align: center;
    text-transform:uppercase;
  }

   #landing_text{
    color: white;
    font-size: 15px;
    text-align: center;
  }



}

.about_footer {
  background:gray;
  color:white;
  font-size: 20px;
  margin: 10px;
  padding:10px;
  text-align: center;
}

.about_footer a {
  color:white;
  text-decoration: underline;
}



