/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */
html, body,
#map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#content_wrapper {
  border: 0;
  border-radius: 10px;
  margin: 20px;
  padding-top: 10px;
}

#map-canvas {
  float: left;
  margin:25px 25px 25px 35px;
  width: 60%;
}

#twitter-widget-0 {

  width:25%;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.twitter-button {
  background: url('https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png') no-repeat;
  width: 158px;
  height: 28px;
}

.twitter-timeline {
  margin: 20px;
  width: 20%;
}


#event_hashtag {
  font-size:30px;
  font-weight:bold;
  text-align: center;
}

#event_title{
  font-family: 'Frijole', cursive;
}

#event_description {
  font-family: 'Rock Salt', cursive;
}

#event_address {

  font-size: 40px;
}

#fancy_font{
  font-family: 'Frijole', cursive;
}

/*A DIV GRADIENT:*/
#outside {
background: #ba2527; /* Old browsers */
background: -moz-linear-gradient(top, #ba2527 0%, #e8d22c 50%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ba2527), color-stop(50%,#e8d22c), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ba2527 0%,#e8d22c 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ba2527 0%,#e8d22c 50%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ba2527 0%,#e8d22c 50%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom, #ba2527 0%,#e8d22c 50%,#ffffff 100%); /* W3C */
}

form {
  text-align: left;
  width: 100%;
}

#prompt {
  text-align: left;
}

#field {
  border: 2px solid black;
  text-align: center;
  width: 80%;
}

@media all and (max-width: 500px) {
  #map-canvas {
  float: left;
  margin:20px;
  width: 100%;
}
  .non-map {
    float:left;
  }
}





